auto
*.el
*~
*.brf
*.o
*.a
*#*
*.llt
*.out
*.log
*.aux
*.mod
*.xxx
*.h5
*.pyc
*.bbl
*.blg
*.toc
*.org
*.tex.backup
*.synctex.gz
comments/*
comments
Ex*/*
scripts/.ipynb-checkpoints/*
VFTS682.pdf
figures/ESO_field/*
comments/*
.ipynb_checkpoints/*
figures/ESO_field/*.fits